{% extends 'home.html' %}

{% block content %}

<h1>Upload a CSV File</h1>

<!-- Display messages, both success and error -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="upload">Upload</button>

    <!-- Button for Clearing the Database -->
    <button type="submit" name="clear"
        onclick="return confirm('Are you sure you want to delete all records? This action cannot be undone.')">Clear
        Database</button>
</form>

{% endblock %}